{% load static %}
<html>
    <head>
        <link rel="stylesheet"
       href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet"
       href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstraptheme.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/view_status.css' %}">
        </head>    
    <header>
        <title>That’s my first website!</title>
    </header>
    <h1>Is CSS Working</h1>
    <body>
    Hello world!
    </body>
</html>